{% extends 'paymentsys/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
    <link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Home</a></li>
            <li><a href="javascript:;">Client</a></li>
            <li class="active">Payment</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Make Payment
            <small>Transaction</small>
        </h1>
        <!-- end page-header -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
                               data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                               data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                               data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                               data-click="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                        <h4 class="panel-title">Make Payment Form</h4>
                    </div>
                    {% if message %}
                        <div class="alert alert-danger fade in">
                            <span class="close" data-dismiss="alert">×</span>
                            <i class="fa fa-check fa-2x pull-left"></i>
                            <p>The Transaction could not be processed. Form invalid</p>
                        </div>
                    {% endif %}
                    <div class="panel-body panel-form">
                        <form class="form-horizontal form-bordered" data-parsley-validate="true" name="demo-form"
                              method="post" action="{% url 'add-payment-direct' customer.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4" for="mode_of_payment">Mode of Payment * :</label>
                                <div class="col-md-6 col-sm-6">
                                    <select class="form-control" name="mode_of_payment" id="mode_of_payment" data-parsley-required="true">
                                            <option value="">-----------------</option>
                                        {% for mode, value in payment_mode %}
                                            <option value="{{ value }}">{{ mode }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4" for="name_payer">Name of Payer * :</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="text" name="name_payer" id="name_payer"
                                           placeholder="Name of Payer" data-parsley-required="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4" for="account_name">Account Name :</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="text" name="account_name" id="account_name"
                                           placeholder="Account Name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4" for="bank">Bank :</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="text" name="bank" id="bank"
                                           placeholder="Bank Name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4" for="installation_date">Amount * :</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="number" name="amount" id="amount"
                                           placeholder="Amount" data-parsley-required="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
    <script src="{% static 'js/apps.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
{% endblock %}
